*.hprof
.svn
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
*/build
/build
/.externalNativeBuild
/captures
/freeline
com_crashlytics_export_strings.xml
.build*
crashlytics-build.properties
*.sh
out_signed
freeline_project_description.json
.classpath
.project
.settings
