*.hprof
.svn
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
*/build
/build
/.externalNativeBuild
/captures
/freeline
com_crashlytics_export_strings.xml
.build*
crashlytics-build.properties
*.sh
out_signed
freeline_project_description.json
/app_phone/Dev/
/app_phone/Official/
/app_tv/Dev/
/app_tv/Le/
/app_tv/Official/
.project
.settings/
allpay/.classpath
allpay/.project
allpay/.settings/
app_phone/.classpath
app_phone/.project
app_phone/.settings/
app_tv/.classpath
app_tv/.project
app_tv/.settings/
chatui/.classpath
chatui/.project
chatui/.settings/
frameworks/.classpath
frameworks/.project
frameworks/.settings/
h5/.classpath
h5/.project
h5/.settings/
httpservice/.classpath
httpservice/.project
httpservice/.settings/
midiSound/.classpath
midiSound/.project
midiSound/.settings/
midifile/.classpath
midifile/.project
midifile/.settings/
midifile/bin/
myapp/.classpath
myapp/.project
myapp/.settings/
projectbase/.classpath
projectbase/.project
projectbase/.settings/
realtime/.classpath
realtime/.project
realtime/.settings/
util/.classpath
util/.project
util/.settings/
weex-aply/.classpath
weex-aply/.project
weex-aply/.settings/
